<html>

<head>
    {% block title %}
    <title>Application</title>
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Elite: The Dangerous</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/add_pilot_ship">Add Ship</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/add_pilot"><span class="glyphicon glyphicon-user"></span> Add Pilot</a></li>
                <li><a href="/add_ship"><span class="glyphicon glyphicon-log-in"></span> Add Model</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}
    <h1>Almost foiled by a webhook over here</h1>
    {% endblock %}
</body>

</html>
